* {
  padding:0;
}
body {
  margin: 0;
  padding: 0;
  background-color: #fbfbfb;
  font-size: 100%;
  font-family: sans-serif;
  line-height: 1.3em;
  background-color: #fff;
  background-image: url(../images/dot-grid.png);
  background-repeat: repeat;
  background-position: center top;
}

a:link{
	color: #81a53f;
}

a:visited{
	color: #81a53f;
	text-decoration: none
}
a:hover {text-decoration: underline;
color: #FF0000;
}
a:active {text-decoration: none
}

input:focus{
	color: black;
}
#inicio {
  background-color: #81a53f
}

.navbar-nav li {
  text-align: center;
  border-bottom: 1px solid #8eb14e;
}
.navbar-nav li:last-child {
  border: 0;
}
.navbar-dark .navbar-nav .nav-link {
  color: #fff;
}
.navbar-dark .navbar-nav .nav-item.active .nav-link {
  color: rgba(255,255,255,0.5) !important;
}

.logo {
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 8%;
  margin-top: 1%;
  height: 9%;
  width: 9%;
  display: inline-block;
}

.menu {
  background-color: #81a53f;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 2;
}

.menu ul {
  list-style-type: none;
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
}

.menu ul li {
  display: inline-block;
}

.menu ul li li {
  display: none;
}

.menu ul li:hover li {
  display: inline-block;
}

.menu ul li a {

  /*texto do menu*/
  display: block;
  padding: 18px 30px;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  font-size: 16px;
  text-align: center;
}

.menu ul li a:hover,
.menu ul li a.active {
  background-color: rgba(227, 253, 255, 0.28)
}

.tudo {
  margin: auto;
  padding: 30px 40px;
  background-color: #fbfbfb;
  width: 100%;
  max-width: 1005px;
}

.tudo p {
  font-size: 16px;
  font-family: sans-serif;
}

.tudo.justify p {
  text-align: justify;
}

.calculadora-imc {
  padding: 30px 0;
}
form .formata-campo {
    padding: 8px;
    border: 1px solid #565656;
    border-radius: 5px;
    margin-bottom: 5px;
}

form fieldset {
  padding: 20px 0;
}

.letra {
  width: 100%;
  max-width: 520px;
  display: inline-block;
  margin-left: 10%;
}
.navbar-brand img {
  width: 100%;
  max-width: 180px;
}

footer {
  background-color: #d6d6d6;
  background-color: #d6d6d6;
  padding: 20px 10px 10px;
  text-align: center;
}

.redes {
  width: 125px;
}/* com o tamanho de imagem o mapeamento não fica certo*/ 

mark:only-child{
	background-color: rgba(129, 165, 63, 0.36);
}

.table {
	border-collapse:collapse;
	border-spacing:0;
	color: white;
	border-color: #000000;
  width: 100%;
  min-width: 420px;
}

.table th {
	font-weight:normal;
	padding:10px 5px;
	border-style:solid;
	border-width:1px;
	word-break:normal;
	border-color: #000000;
	background-color: #81a53f;
  text-align: center;

}

.table td {
  padding:10px 5px;
  border-style:solid;
  border-width:1px;
  border-color: #000000;
  background-color: rgba(129, 165, 63, 0.62);
  text-align: center;
}

h1:first-child {
	text-transform: uppercase;
}
p {
	font-style: normal;
}

img.frase{
	width: 100%;
  max-width: 280px;
}

iframe {
  width: 100%;
  max-width: 520px;
  height: 315px;
}


.header-mobile {
  display: none;
}
@media screen and (max-width:768px) {
  .header-desktop {
    display: none;
  }
  .header-mobile {
    display: block;
  }
  .tudo {
    padding-left: 15px;
    padding-right: 15px;
  }
  .h1, h1 {
    font-size: 1.89rem;
  }
}